<h1><%=h @page_title = @artwork.name %></h1>

<%= simple_format(@artwork.description) %>

<%= simple_format(@artwork.access_details) %>

<h2>Contact</h2>

<p>
  <%= link_to @artwork.contact.name, @artwork.contact %><br />
  <%= @artwork.contact.address %>
</p>

<% number_of_artworks = @artwork.contact.artworks.size %>
<% if number_of_artworks > 1 %>
<p>This person can also be contacted to visit <%= link_to "#{number_of_artworks} other artworks", @artwork.contact %>.</p>
<% end %>
<h2>Request to visit this artwork</h2>

<% form_for(@visit_request, :url => artwork_visit_requests_path(@artwork.id)) do |f| %>
  <%= f.error_messages %>
  
  <p>You are requesting to visit <%=h @artwork.name %></p>


  <p>
    <%= f.label :from_name, 'Your name' %><br />
    <%= f.text_field :from_name %>
  </p>
  <p>
    <%= f.label :from_email, 'Your email' %><br />
    <%= f.text_field :from_email %>
  </p>
  <p>
    <%= f.label :from_phone, 'Your phone' %> (optional)<br />
    <%= f.text_field :from_phone %>
  </p>
  <p>
    <%= f.submit 'Send' %>
  </p>
<% end %>

