<h1>Request to visit an artwork</h1>

<% form_for(@visit_request, :url => artwork_visit_requests_path(@artwork.id)) do |f| %>
  <%= f.error_messages %>
  
  <p>You are requesting to visit <%=h @artwork.name %></p>


  <p>
    <%= f.label :from_name, 'Your name' %><br />
    <%= f.text_field :from_name %>
  </p>
  <p>
    <%= f.label :from_email, 'Your email' %><br />
    <%= f.text_field :from_email %>
  </p>
  <p>
    <%= f.label :from_phone, 'Your phone' %> (optional)<br />
    <%= f.text_field :from_phone %>
  </p>
  <p>
    <%= f.submit 'Send' %>
  </p>
<% end %>

