<!DOCTYPE html>
<html>
  <head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= @page_title || "HMRC Artworks" %></title>
  <%= stylesheet_link_tag :all %>
</head>
<body>

<header>
  <h2>HMRC Artworks</h2>
  <nav>
    <a href="/">Home</a>
    <a href="/artworks">Artworks</a>
  </nav>

  <% form_tag '/artworks/search', :method => :get do %>
    <%= text_field_tag 'q', params[:q] %>
    <%= submit_tag 'Search', :name => nil %>
  <% end %>
</header>

<p style="color: green"><%= flash[:notice] %></p>

<%= yield %>

</body>
</html>
