<!DOCTYPE html>
<html>
  <head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= @page_title || "HMRC Artworks" %></title>
  <%= stylesheet_link_tag :all %>
</head>
<body>
<div id="wrapper">
  <div id="header">
    <div id="logo">
      <h1><a href="#">HMRC Artworks</a></h1>
      <h2><a href="http://www.freecsstemplates.org/">By Ben and Julian</a></h2>
    </div>
    <!-- end div#logo -->
  </div>
  <!-- end div#header -->
  <div id="menu">
    <ul>
      <li class="<%= "active" if current_page?(root_path) %>"><a href="/">Home</a></li>
      <li class="<%= "active" if current_page?(:controller => 'artworks') %>"><a href="/artworks">Artworks</a></li>
      <li class="<%= "active" if current_page?(:controller => 'contacts') %>"><a href="/contacts">Contact</a></li>
    </ul>
  </div>
  <!-- end div#menu -->
  <% if current_page?(root_path) %>
  <div id="splash"><img src="/images/img03.jpg" width="940" height="255" alt="" /></div>
  <% end %>
  <div id="page">
    <div id="page-bgtop">
      <div id="content">
        <% unless flash.empty? %>
        <p style="color: green"><%= flash[:notice] %></p>
        <% end %>
        <%= yield %>
      </div>
      <!-- end div#content -->
      <div id="sidebar">
        <ul>
          <li id="search">
            <h2>Search</h2>
            <% form_tag '/artworks/search', :method => :get do %>
              <%= text_field_tag 'q', params[:q] %>
              <%= submit_tag 'Search', :name => nil %>
            <% end %>
          </li>
        </ul>
      </div>
      <!-- end div#sidebar -->
      <div style="clear: both; height: 1px"></div>
    </div>
  </div>
  <!-- end div#page -->
  <div id="footer">
    <p>Copyright &copy; 2007 Lily Pads. All Rights Reserved. Designed by <a href="http://www.freecsstemplates.org/">Free CSS Templates</a>. </p>
    <p id="links"><a href="#">Privacy Policy</a> | <a href="#">Terms of Use</a></p>
  </div>
  <!-- end div#footer -->
</div>
<!-- end div#wrapper -->
</body>

